

body{
    display: flex;
    justify-content: center;
    background-color: gray;
}

#main{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 100px 100px;
    border: 2px solid white;
    background-color: rgb(21, 21, 22);
    color: white;
    
}

#link{
    color: orange;
    text-decoration: none;
}

.details{
    border: 2px solid white;
    padding: 10px 10px;
}

.deatil{
    text-decoration: underline;
    font-weight: 700;
    color: orange;
}

#home{
    text-decoration: none;
    color: gold;
    font-weight: 700;
    font-size: large;
}